@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.links {
  padding: 10px 15px;
    font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
  cursor: pointer;
}

.links:last-child {
  margin-right: 0;
  padding-right: 0;
}

.logo {
  color: white;
}

.hero {
 background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.phead {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.description {
  color: white;
  margin-top: 20px;
}

.signup {
  background-color: #4584c7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 8px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 20px;
}
.signup:hover {
  background-color: #000000;
}
.signup:active {
  position: relative;
  top: 1px;
}

.contained {
  max-width: 1200px;
  width: 100%;
}
