@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.links {
  padding: 10px 15px;
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px;
  cursor: pointer;
}

.links:last-child {
  margin-right: 0;
  padding-right: 0;
}

.logo {
  color: white;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.phead {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.description {
  color: white;
  margin-top: 20px;
}

.signup {
  background-color: #4584c7;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 8px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 20px;
}
.signup:hover {
  background-color: #000000;
}
.signup:active {
  position: relative;
  top: 1px;
}

.contained {
  max-width: 1200px;
  width: 100%;
}

.h2class {
  display:flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 4%;
}

.secondpart {
  display: flex;
  flex-direction: column;

}

.secondpartimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.imgbro {
  margin-top: 50px;
  border: 4px solid #3882F6;
  border-radius: 20px;
}

figcaption {
  text-align: center;
  color: black;
}

.thirdpart {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
}

.inspiring {
  text-align: left;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
}

.thor {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}
