@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
} 


.primeiro {
    background-color: #1F2937;
}

.listanav {
    list-style-type: none;
}

#headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
}

ul {
    display:flex;
    flex-direction: row;
}

.esquerda, .direta {
    display: flex;
    width: 50%;
    justify-content: center;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.conteudodir {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudoesq {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phead {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 9%;
}

.montanha {
    margin-top: 50px;
    margin-bottom: 50px;
}

.signup {
	background-color:#4584c7;
	border-radius:40px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.signup:hover {
	background-color:#000000;
}
.signup:active {
	position:relative;
	top:1px;
}

.contained {
    max-width: 1920px;
}
